<ion-view view-title="Cab Details">
    <ion-nav-buttons side="secondary">
        <div class="buttons">
        </div>
    </ion-nav-buttons>
  <ion-content>
    <div class="card">
    	<div class="item item-body item-text-wrap">
        <h2>Book this cab?</h2>
    		<p>{{cab.Name}}	
        <br>{{cab.CabRegNumber}}</p>
    	</div>
    </div>
    <button id="locateMe" class="button button-block button-positive ion-model-s icon-left">
            Book this Cab
        </button>
  </ion-content>
</ion-view>
